body 
{
    height:100%;
    width:100%;
    margin:0;
    padding:0;
    font-family:Arial;
    background-color:Gray;
}
        
.calendar
{
    width:500px;
    margin:2px;
    padding:2px;
    font-family:Arial;
    background-color:White;
    border-radius:15px 15px 15px 15px;
	margin-left: auto;
	margin-right: auto;
}

.calendar table
{
    border:1px solid gray;
    border-collapse: collapse;
    font-size:12px;
}

.calendar tr
{
    height:15px;
    width:100%;
    text-align:center;
	float: right;
	cursor:default;
}

.calendar td
{
    width:59px;
    border-top:1px solid gray;
    border-left:1px solid gray;
    border-right:1px solid gray;
}

.30min
{
    border-top:1px dashed gray;
    background-color:Blue;
}
.calendar .title
{
    font-size:20px;
    font-weight:bold;
    width:100%;
    height:24px;
    padding:2px 0 2px 0;
    text-align:center;
}

.calendar .daybar
{
    margin-left:10%;
    width:90%;
    height:20px;
}
.calendar .timebar

{
    width:10%;
    height:90%;    
    float:left;
}

.calendar .grid
{
    height:90%;
    width:90%;
    float:left;
}

.calendar .gridobject
{
    border-bottom:1px solid gray;
    border-right:1px solid gray;
    height:3%;
    width:13.8%;
    float:left;
} /* height is 5.9 for full hours, 3 and 2.8 (top) for half hours */

.calendar .gridobject2
{   
    border-bottom:1px dashed gray;
    border-right:1px solid gray;
    height:2.86%;
    width:13.8%;
    float:left;
}
    
.calendar .days
{
    font-size:14px;
    height:inherit;
    float:left;
    text-align:center;
    vertical-align:bottom;
    color:Black;
    width:13.8%;
    border-top:1px solid gray;
    border-bottom:1px solid gray;
    border-right:1px solid gray;
    padding-top:2px;
    
}

.calendar .times
{
    font-size:14px;
    height:6%;
    text-align:center;
    color:Black;
    width:100%;
    border-top:1px solid gray;
    border-right:1px solid gray;
    border-left:1px solid gray;
}

.calendar .grid .gridobject .30min_top
{
    width:inherit;
    height:35%;
    border-bottom:1px dotted gray;
        background-color:Blue;
}

.calendar .grid .30min_bottom
{
    width:inherit;
    height:35%;

}

.searchbar
{
    background-color:White;
    padding:5px 0px 5px 15px;
    text-align:left;
    width:90%;
    height:16px;
    border-radius: 15px 15px 15px 15px;
    color:Black;
}