/* 0B5FA5 - blue
 A67D00 - yellow
 A63100 - orange */

body
{
	background-color:#0B5FA5;
	text-align:center;
	font-family:"Comic Sans MS";
	font-size:12px;
}

.menu 
{
	background-color:orange;
	width:70%;
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
	border-radius: 15px;
	height:25px;
	vertical-align:50%;
	box-shadow: 3px 3px 4px #000;
}

.midwrapper
{

}

.mainwrapper
{
	background-color:#66A1D2;
	width:90%;
	/*height:95%;*/
	margin-left:auto;
	margin-right:auto;
	overflow:hidden;
	margin-top:auto;
	margin-bottom:auto;
	border-radius: 15px 15px 15px 15px;
	box-shadow: 3px 3px 4px #000;
}

.welcomedialog
{
	background-color:#0B5FA5;
	margin-left:auto;
	margin-right:auto;
	margin-top:120px;
	width:350px;
	height:300px;
	line-height: 2em;
	font-size:15px;
	border-radius:15px;
	overflow:hidden;
}

.dialogtitle
{
	font-weight:bold;
	background-color:#0B5FA5;
	height:15px;
	margin:5px;
}

.registerdialog
{
	background-color:#0B5FA5;
	margin-left:auto;
	margin-right:auto;
	margin-top:80px;
	width:500px;
	height:400px;
	line-height: 2em;
	font-size:15px;
	border-radius:15px;
	overflow:hidden;
	box-shadow: 3px 3px 4px #000;
}

.coursesearch
{
	background-color:#0B5FA5;
	margin:15px;
	width:30%;
	height:200px;
	line-height: 2em;
	font-size:15px;
	border-radius:15px;
	overflow:hidden;
	box-shadow: 3px 3px 4px #000;
}

#filters
{
	padding:0px;
	margin:0px;
	display:block;

}

.oneFilter
{
	background-color:grey;
	float:left;
	padding:3px;
	overflow:hidden;
	text-align:left;
	border-radius:5px;
	margin:5px;
	box-shadow: 1px 1px 1px #000;	
	line-height: 1em;
	display:inline;
}



.deleteFilter
{
	text-align:right;
	display:inline;
	font-size:9px;
	margin-top:0px;
	margin-right:0px;
	padding-right: 0px;
	position:relative;
	top:-6px;
	right:-1px;
	cursor: pointer;

}

.clearBoth { clear:both; }

.searchresults
{
	float:left;
	margin-left:auto;
	margin-right:auto;
	background-color:#0B5FA5;
	margin:15px;
	width:25%;
	height:auto;
	min-height: 500px;
	line-height: 2em;
	font-size:15px;
	border-radius:15px;
	overflow:hidden;
	box-shadow: 3px 3px 4px #000;
}

/* Original design selected courses 
.selectedcourses
{
	float: left;
	background-color:#0B5FA5;
	margin:15px;
	width:23%;
	height:500px;
	line-height: 2em;
	font-size:15px;
	border-radius:15px;
	overflow:hidden;
	box-shadow: 3px 3px 4px #000;
}

*/

/* New design selected courses */
.selectedCourses
{
    width:95%;
    height: 20%;
    margin-left:auto;
    margin-right:auto;
}

.courseRow
{
	width:93%;
	float:left;
	height:auto;
	background-color:#999;
	padding:5px;
}

.sectionInfo
{
	width:85%;	
}
.sectionRow, .courseRow
{
	margin-left:10px;
	text-align:left;
	border-radius:10px;
	margin:5px;
	box-shadow: 3px 3px 4px #000;	
	cursor:default;
	padding:5px;
}

.sectionBlock, .sectionOverlay
{
	position:absolute;
	border-radius:10px;
	box-shadow: 3px 3px 4px #000;
	overflow:hidden;
	padding:5px;
	text-align:center;
}
/*.sectionBlock
{
	opacity:.5;
}*/
.selectedCourses .sectionRow
{
	width: 200px;
	float:right;
}

#results .sectionRow
{
	float:right;
	height:25px;
	overflow:hidden;
	background-color:#FFF;
	width:90%;
}
.sectionInfo, .courseNum
{
	float:left;	
}

.schedule .courseNum
{
    font-weight:bold;
}

.selectedCourses .sectionInfo, #results .deleteSection, #results .courseNum
{
	display:none;
}


.selectedCourses .deleteSection
{
	display:block;	
}
.deleteSection
{
	float:right;
	margin-right:5px;
	cursor: pointer;
	font-size:10px;
}

.sectionData
{
	/*display: none;*/	
}

#mandatorySearch
{
	background-image:url(Images/searchbutton.png);
	background-size: 25px;
	background-repeat:no-repeat;
	width:27px;
	height:27px;
}

.delete
{
	float:right;
	color:white;
	width:15px;
	height:15px;
	display:none;
	text-align:right;
	cursor: pointer;
	display:block;
}

.showSections, .sectionAddButton
{
	float:right;
	height:20px;	
	margin-top:3px;
	margin-right:2px;
}

.showSection
{
	cursor:pointer;	
}

.courseInfo
{
	float: left;
	height: 25px;
	overflow:hidden;
	width:85%;
}

td
{
	height: 18px;
}

#calendar{
	position:relative;
}

.selectionBox
{
	background:red;
	/*opacity:.25;*/
	position:absolute;	
	border-radius:10px;
	box-shadow: 3px 3px 4px #000;
}

.selectionOptions
{
	display:none;	
}

.dayHeader
{
	width: 90px;	
}

/* ========== CALENDAR STYLING ============== */
/* Old schedule wrapper (contained just the calendar)
.schedule
{
	float: right;
	background-color:#0B5FA5;
	margin:15px;
	width:42%;
	height:600px;
	border-radius:15px;
	padding:10px;
	box-shadow: 3px 3px 4px #000;
	position:relative;
}
*/
.schedule
{
    float:right;
	background-color:#0B5FA5;
    margin:15px;
    width:70%;
    border-radius:15px;
	box-shadow: 3px 3px 4px #000;
}
#calendar
{
    float:right;
    width:98%;
    margin-left:1%;
    margin-top:20px;
}

#calendar table
{
	width:98%;
    border:1px solid black;
    border-collapse: collapse;
    font-size:12px;
}

#calendar tr
{
    text-align:center;
	cursor:default;
    height:18px;
}

#calendar td
{
    border-left:1px solid gray;
    border-right:1px solid gray;
    border-top:1px solid gray;
}

.sectionOverlay
{
	background-color:yellow;
	position:absolute;
}

.sectionOverlay .deleteSection
{
	display: none;	
}

/* Specificity preventing the middle border from functioning correctly?  */
#calendar td.30
{
    border-top:1px dashed gray;
}

#calendar td.00
{
    border-top:1px solid gray;
}
/* 
	height:15px;
    width:59px;
*/
.S, .U, .selectedCourses
{
	display:None;
}

.sectionAddButton
{
	content:url(Images/addEnabled.png);
	float:right;
}

.disabled
{
	cursor:default;
	opacity:.55;	
}

.showSections
{
	content:url(Images/plus.png);
}

.expanded
{
	content:url(Images/minus.png);
}
